@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-border: rgba(128, 128, 128, 0.3);
  --color-border-light: rgba(128, 128, 128, 0.2);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-border: rgba(128, 128, 128, 0.3);
    --color-border-light: rgba(128, 128, 128, 0.2);
  }
}

body {
  @apply bg-background text-foreground antialiased;
}
