# Database
MONGODB_URI=mongodb://localhost:27017/petcare

# Firebase Admin
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com

# Server Configuration
PORT=2000
FRONTEND_URL=http://localhost:3000

# ML Inference Service
ML_INFERENCE_URL=http://localhost:5000